<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.CcAreaMapper">
    <resultMap type="com.deepexi.channel.domain.dto.CcAreaDto" id="CcAreaDtoResult">
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="appId" column="app_id" />
        <result property="tenantId" column="tenant_id" />
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="areaTypeId" column="area_type_id" />
        <result property="areaName" column="area_name" />
        <result property="areaCode" column="area_code" />
        <result property="areaNameEn" column="area_name_en" />
        <result property="path" column="path" />
        <result property="description" column="description" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
    </resultMap>
    <select id="findList" resultType="com.deepexi.channel.domain.eo.CcArea">
        SELECT * FROM cc_area WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE cc_area set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>