<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.DistributorMapper">

    <select id="listDistributorCode" resultType="java.lang.String">
        SELECT
            a.distributor_code
        FROM
            cc_distributor a
        WHERE
            a.dr = 0
    </select>

    <select id="listDistributorName" resultType="java.lang.String">
        SELECT
            a.distributor_name
        FROM
            cc_distributor a
        WHERE
            a.dr = 0
    </select>

    <select id="listDistributorNameEn" resultType="java.lang.String">
        SELECT
            a.distributor_name_en
        FROM
            cc_distributor a
        WHERE
            a.dr = 0
    </select>

    <select id="findPage" parameterType="com.deepexi.channel.domain.DistributorQuery"
            resultType="com.deepexi.channel.domain.DistributorDO">

        SELECT * FROM cc_distributor WHERE dr=0

        <if test="id != null">
            and id = #{id}
        </if>
        <if test="ids != null">
          and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>

        <if test="enable!=null">
            AND enable =#{enable}
        </if>

        <if test="distributorName!=null">
            AND distributor_name LIKE concat('%',#{distributorName},'%')
        </if>
        <if test="distributorType!=null">
            AND distributor_type=#{distributorType}
        </if>
        <if test="distributorCode!=null">
            AND distributor_code LIKE concat('%',#{distributorCode},'%')
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        <if test="updateStartTime != null">
            and updated_time &gt;= #{updateStartTime}
        </if>
        <if test="updateEndTime != null">
            and updated_time &lt;= #{updateEndTime}
        </if>
        order by created_time desc
    </select>

</mapper>