<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.StoreGradeRelationMapper">
    <resultMap type="com.deepexi.channel.domain.StoreGradeRelationDO" id="StoreGradeRelationDOResult">
        <result property="id" column="id" />
        <result property="storeGradeId" column="store_grade_Id" />
        <result property="storeId" column="store_id" />
        <result property="description" column="description" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="appId" column="app_id" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findAll" resultType="com.deepexi.channel.domain.StoreGradeRelationDO">
        select * from cc_store_grade_relation where dr = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="storeGradeId != null">
            and store_grade_Id = #{storeGradeId}
        </if>
        <if test="storeId != null">
            and store_id = #{storeId}
        </if>
        <if test="storeGradeIds != null and storeGradeIds.size() > 0">
            and store_grade_Id
            in
            <foreach collection="storeGradeIds" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>

    </select>
</mapper>