<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentBusinessStarSetMapper">

    <select id="findList" resultType="com.deepexi.promotion.domain.CommentBusinessStarSetDO">
        SELECT * FROM comment_business_star_set WHERE 1=1 and dr=0
        <where>
            <if test="businessModelConnectId!=null">
            and business_model_connect_id=#{businessModelConnectId}
            </if>
        </where>
    </select>

    <update id="deleteByIds">
        UPDATE comment_business_star_set set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <!--条件删除-->
    <update id="deleteByCondition">
        UPDATE comment_business_star_set set dr=1
        <where>
            dr=0
            <if test="businessModelConnectId !=null">
                and business_model_connect_id=#{businessModelConnectId}
            </if>
            <if test="starTemplateId !=null">
                and star_template_id=#{starTemplateId}
            </if>
            <if test="type!=null">
                and `type`=#{type}
            </if>
        </where>
    </update>
</mapper>