<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentDetailMapper">
    <resultMap type="com.deepexi.promotion.domain.CommentDetailDO" id="baseResultMap">
        <result property="id" column="id"/>
        <result property="appBusinessId" column="app_business_id"/>
        <result property="appId" column="app_id"/>
        <result property="modelId" column="model_id"/>
        <result property="commentId" column="comment_id"/>
        <result property="modelName" column="model_name"/>
        <result property="targetId" column="target_id"/>
        <result property="targetName" column="target_name"/>
        <result property="commentType" column="comment_type"/>
        <result property="channel" column="channel"/>
        <result property="userId" column="user_id"/>
        <result property="checkStatus" column="check_status"/>
        <result property="parentId" column="parent_id"/>
        <result property="dr" column="dr"/>
        <result property="version" column="version"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="remark" column="remark"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="tenantId" column="tenant_id"/>
        <collection property="children" ofType="com.deepexi.promotion.domain.CommentDetailDO"
                    column="id" select="selectByParentId"/>
    </resultMap>

    <sql id="baseColumn">
        id, app_business_id, app_id, model_id, comment_id, model_name, target_id,
        target_name, comment_type, channel, user_id, check_status, parent_id, dr,
        version, created_time, updated_time, remark, created_by, updated_by, tenant_id
    </sql>

    <select id="selectByParentId" resultMap="baseResultMap">
        SELECT <include refid="baseColumn"/>
            FROM `comment_detail`
        WHERE parent_id = #{parentId}
        AND dr = 0
    </select>

</mapper>