<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentLabelTemplateMapper">
    <select id="findLabelDetail" resultType="com.deepexi.promotion.domain.CommentLabelDetailDO">
        SELECT
        c.id AS label_template_id,
        c.`name` AS label_name,
        c.`code`
        FROM
        comment_label_template c
        WHERE
        c.dr=0
        <if test="labelIds !=null">
            and c.id in
            <foreach close=")" collection="labelIds" item="item" open="(" separator=", ">
                #{item}
            </foreach>
        </if>
    </select>

 
</mapper>