<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentBusinessLabelGroupSetMapper">

    <sql id="Base_Column_List">
            id,
            business_model_connect_id,
            label_group_id,
            dr,
            version,
            created_time,
            updated_time,
            remark,
            created_by,
            updated_by,
            tenant_id    </sql>

    <update id="deleteByVO">
        update comment_business_label_group_set
        set dr=1
        <where>
            dr=0
            <if test="businessModelConnectId!=null">
                and business_model_connect_id=#{businessModelConnectId}
            </if>
            <if test="labelGroupId!=null">
                and label_group_id=#{labelGroupId}
            </if>
            <if test="type !=null">
                and `type`=#{type}
            </if>
        </where>


    </update>


</mapper>