<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentInfoMapper">

    <sql id="Base_Column_List">
        `id`, `channel`, user_id, app_business_id, app_business_name, target_id, app_id, dr, version, created_time, updated_time, remark, created_by, updated_by, tenant_id
    </sql>

    <select id="listByCommentInfoQuery" parameterType="com.deepexi.promotion.domain.CommentInfoQuery"
            resultType="com.deepexi.promotion.domain.CommentDetailDO">
        SELECT
        DISTINCT
        t1.id,
        t1.app_id,
        t1.app_business_id,
        t1.comment_id,
        t1.model_id,
        t1.model_name,
        t1.channel,
        t1.target_id,
        t1.target_name,
        t1.comment_type,
        t1.user_id,
        t1.check_status,
        t1.parent_id,
        t1.dr,
        t1.version,
        t1.created_time,
        t1.updated_time,
        t1.remark,
        t1.created_by,
        t1.updated_by,
        t1.tenant_id
        FROM
        comment_detail AS t1
        LEFT JOIN comment_resource AS t2
        ON (t2.relevance_type = 1
        AND t2.relevance_id = t1.id
        AND t2.dr = 0
        AND t2.resource_type = 1
        <if test="resourceContent != null and resourceContent != ''">
            AND MATCH(t2.resource_content) AGAINST (#{resourceContent})
        </if>
        )
        <if test="startStar != null or endStar != null">
            LEFT JOIN comment_star AS t3
            ON ( t3.comment_detail_id = t1.id
            AND t3.dr = 0
            <if test="startStar == null">
                AND (t3.star_value BETWEEN 0 AND #{endStar} )
            </if>
            <if test="startStar != null and endStar == null">
                AND t3.star_value >= #{startStar}
            </if>
            <if test="startStar != null and endStar != null">
                AND (t3.star_value BETWEEN #{startStar} AND #{endStar})
            </if>
            )
        </if>
        WHERE
        t1.dr = 0
        AND t1.comment_type = 1
        <if test="resourceContent != null and resourceContent != ''">
            AND t2.id > 0
        </if>
        <if test="startStar != null or endStar != null">
            AND t3.id > 0
        </if>
        <if test="appIds != null and appIds.size() != 0">
            AND t1.app_id in
            <foreach collection="appIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="channel != null">
            AND t1.channel = #{channel}
        </if>
        <if test="checkStatus != null">
            <choose>
                <when test="checkStatus == 0">
                    AND t1.check_status IN (2, 3)
                </when>
                <otherwise>
                    AND t1.check_status = #{checkStatus}
                </otherwise>
            </choose>
        </if>
        <if test="modelId != null">
            AND t1.model_id = #{modelId}
        </if>
        <if test="targetIds != null and targetIds.size() > 0">
            AND t1.target_id IN
            <foreach collection="targetIds" item="targetId" open="(" close=")" separator=",">
                #{targetId}
            </foreach>
        </if>
        <if test="userId != null">
            AND t1.user_id = #{userId}
        </if>
        <if test="labelTemplateId != null">
            AND t1.id IN (
            SELECT a1.relevance_id
            FROM comment_label a1
            WHERE
            a1.relevance_type = 1 AND a1.label_template_id = #{labelTemplateId}
            UNION ALL
            SELECT b.comment_detail_id
            FROM comment_label a2
            INNER JOIN comment_star b ON a2.relevance_id = b.id
            AND a2.relevance_type = 2 AND a2.label_template_id = #{labelTemplateId}
            )
        </if>
        <if test="startTime!=null">
            AND t1.created_time <![CDATA[>=]]> #{startTime}
        </if>

        <if test="endTime!=null">
            AND t1.created_time <![CDATA[<]]> date_add(#{endTime},interval 1 day)
        </if>
        <if test="replyStatus!=null">
            AND t1.reply_status = #{replyStatus}
        </if>
        AND t1.tenant_id = #{tenantId}
        ORDER BY
        t1.id DESC
    </select>

    <select id="countComment" parameterType="com.deepexi.promotion.domain.CommentCountQuery" resultType="long">
        SELECT COUNT(*) FROM comment_detail AS t1
        WHERE t1.comment_type = 1 AND t1.dr = 0
        <if test="appId != null">
            AND t1.app_id = #{appId}
        </if>
        <if test="appBusinessId != null">
            AND t1.app_business_id = #{appBusinessId}
        </if>
        <if test="modelId != null">
            AND t1.model_id = #{modelId}
        </if>
        <if test="startTime != null and endTime != null">
            AND ( t1.created_time BETWEEN #{startTime} AND #{endTime} )
        </if>
        <if test="startTime != null and endTime == null">
            AND t1.created_time >= #{startTime}
        </if>
        <if test="startTime == null and endTime != null">
            AND ( t1.created_time &lt;= #{endTime} )
        </if>
        <if test="withReply != null">
            AND t1.reply_status = #{withReply}
        </if>
        AND t1.tenant_id = #{tenantId}
    </select>

    <select id="listCommentByStatisticType" parameterType="com.deepexi.promotion.domain.CommentStatisticTypeQuery"
            resultType="com.deepexi.promotion.domain.CommentDetailDO">
        SELECT
        DISTINCT
        t1.id,
        t1.app_id,
        t1.app_business_id,
        t1.comment_id,
        t1.model_id,
        t1.model_name,
        t1.channel,
        t1.target_id,
        t1.target_name,
        t1.comment_type,
        t1.user_id,
        t1.check_status,
        t1.parent_id,
        t1.dr,
        t1.version,
        t1.created_time,
        t1.updated_time,
        t1.remark,
        t1.created_by,
        t1.updated_by,
        t1.tenant_id
        FROM
        comment_detail AS t1
        <if test="commentType != null">
            LEFT JOIN comment_detail AS t2
            ON (t2.parent_id = t1.id AND t2.comment_type = #{commentType}  AND t2.dr = 0 )
        </if>
        <if test="starTemplateDetailId != null">
            LEFT JOIN comment_star AS t3
            ON (t1.id = t3.comment_detail_id AND t3.star_template_detail_id = #{starTemplateDetailId} )
        </if>
        WHERE
        t1.dr = 0
        AND t1.comment_type = 1
        AND t1.app_id = #{appId}
        <if test="commentType != null">
            AND t2.id > 0
        </if>
        <if test="starTemplateDetailId != null">
            AND t3.id > 0
        </if>
        <if test="checkStatus != null">
            <choose>
                <when test="checkStatus == 0">
                    AND t1.check_status IN (2, 3)
                </when>
                <otherwise>
                    AND t1.check_status = #{checkStatus}
                </otherwise>
            </choose>
        </if>
        <if test="modelId != null">
            AND t1.model_id = #{modelId}
        </if>
        <if test="targetId != null and targetId != ''">
            AND t1.target_id = #{targetId}
        </if>
        <if test="resourceType != null">
            AND t1.id IN (
            SELECT a1.relevance_id
            FROM comment_resource a1
            WHERE
            a1.relevance_type = 1 AND a1.resource_type = #{resourceType}
            UNION ALL
            SELECT b.comment_detail_id
            FROM comment_resource a2
            INNER JOIN comment_star b ON a2.relevance_id = b.id
            AND a2.relevance_type = 2 AND a2.resource_type = #{resourceType}
            )
        </if>
        AND t1.tenant_id = #{tenantId}
        ORDER BY
        t1.id DESC
    </select>

</mapper>