<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentStatisticMapper">

    <insert id="batchInsertOrUpdate">
        INSERT INTO comment_statistic
        (app_business_id,
        app_id,
        model_id,
        statistic_code,
        statistic_desc,
        target_id,
        type,
        relevance_id,
        name,
        star_template_id,
        count_value,
        created_time,
        updated_time,
        remark,
        created_by,
        tenant_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.appBusinessId},
            #{item.appId},
            #{item.modelId},
            #{item.statisticCode},
            #{item.statisticDesc},
            #{item.targetId},
            #{item.type},
            #{item.relevanceId},
            #{item.name},
            #{item.starTemplateId},
            1,
            NOW(),
            NOW(),
            #{item.remark},
            #{item.createdBy},
            #{item.tenantId}
            )
        </foreach>
        ON DUPLICATE KEY
        UPDATE
        count_value = count_value + 1,
        updated_time = NOW()
    </insert>

    <update id="batchUpdateByCode" parameterType="list">
        UPDATE comment_statistic SET count_value = CASE statistic_code
        <foreach collection="statisticDoList" item="statisticDo">
            WHEN #{statisticDo.statisticCode} THEN count_value - 1
        </foreach>
        END
        WHERE statistic_code IN
        <foreach collection="statisticDoList" item="statisticDo" open="(" close=")" separator=",">
            #{statisticDo.statisticCode}
        </foreach>
        AND dr = 0
    </update>

</mapper>