<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentModelMapper">
    <resultMap type="com.deepexi.promotion.domain.CommentModelDO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="identificationCode" column="identification_code"/>
        <result property="dr" column="dr"/>
        <result property="version" column="version"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="remark" column="remark"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="isEnable" column="is_enable"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            app_id,
            name,
            code,
            identification_code,
            dr,
            version,
            created_time,
            updated_time,
            remark,
            created_by,
            updated_by,
            tenant_id,
            is_enable    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM comment_model
        WHERE dr = 0
        <if test="name != null and name != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND tenant_id = #{tenantId}
        </if>
        <if test="isEnable != null">
            AND is_enable = #{isEnable}
        </if>
        ORDER BY id DESC
    </select>
</mapper>