<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.AreaMapper">
   
    <resultMap type="com.deepexi.channel.domain.AreaDO" id="BaseResultMap">
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="path" column="path" />
        <result property="areaTypeId" column="area_type_id" />
        <result property="areaName" column="area_name" />
        <result property="areaCode" column="area_code" />
        <result property="areaNameEn" column="area_name_en" />
        <result property="description" column="description" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
    </resultMap>

    <select id="listAreaCode" resultType="java.lang.String">
        SELECT
            a.area_code
        FROM
            cc_area a
        WHERE
            a.dr = 0
    </select>

    <select id="listAreaName" resultType="java.lang.String">
        SELECT
            a.area_name
        FROM
            cc_area a
        WHERE
            a.dr = 0
    </select>

    <select id="listAreaNameEn" resultType="java.lang.String">
        SELECT
            a.area_name_en
        FROM
            cc_area a
        WHERE
            a.dr = 0
    </select>

    <select id="listAreaPage" parameterType="com.deepexi.channel.domain.AreaQuery"
            resultType="com.deepexi.channel.domain.AreaDO">

        SELECT * from cc_area

        WHERE
        dr=0
        <if test="id!=null">
            and id = #{id}
        </if>
        <if test="ids != null">
            and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="areatypeIds != null">
            and area_type_id in
            <foreach collection="areatypeIds" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="areaTypeId!=null">
            AND area_type_id =#{areaTypeId}
        </if>
        <if test="areaName!=null">
            AND area_name LIKE concat('%',#{areaName},'%')
        </if>
        <if test="areaCode!=null">
            AND area_code LIKE concat('%',#{areaCode},'%')
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        <if test="updateStartTime != null">
            and updated_time &gt;= #{updateStartTime}
        </if>
        <if test="updateEndTime != null">
            and updated_time &lt;= #{updateEndTime}
        </if>
        order by updated_time desc
    </select>

    <!--树默认展开三级-->
    <select id="findTree" resultType="com.deepexi.channel.domain.AreaDO">
         SELECT * FROM cc_area WHERE dr = 0 and path RLIKE "^/([0-9])*$|^/([0-9])*/([0-9])*$|^/([0-9])*/([0-9])*/([0-9])*$"
    </select>

</mapper>