<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CommentBusinessModelConnectMapper">
    <resultMap type="com.deepexi.promotion.domain.CommentBusinessModelConnectDO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="modelId" column="model_id"/>
        <result property="appId" column="app_id"/>
        <result property="dr" column="dr"/>
        <result property="version" column="version"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="remark" column="remark"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="isReply" column="is_reply"/>
    </resultMap>
    <sql id="Base_Column_List">
            id,
            business_id,
            model_id,
            app_id,
            dr,
            version,
            created_time,
            updated_time,
            remark,
            created_by,
            updated_by,
            tenant_id,
            is_reply
                </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM comment_business_model_connect
        WHERE dr = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="businessId != null">
            and business_id = #{businessId}
        </if>
        <if test="modelId != null">
            and model_id = #{modelId}
        </if>
        <if test="appId != null">
            and app_id = #{appId}
        </if>
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        order by id desc
    </select>

</mapper>