<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.BankMapper">
    <resultMap type="com.deepexi.channel.domain.BankDO" id="BankDOResult">
        <result property="id" column="id" />
        <result property="bankName" column="bank_name" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
    </resultMap>
    <select id="findList" resultType="com.deepexi.channel.domain.BankDO">
        SELECT * FROM cc_bank WHERE dr=0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="ids != null and ids.size()>0">
            and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="bankName !=null and bankName != ''">
            and bank_name like concat('%',#{bankName},'%')
        </if>
        order by created_time desc
    </select>

    <update id="deleteByIds">
        UPDATE cc_bank set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getBankByIds" resultType="com.deepexi.channel.domain.BankDO">
        select * from cc_bank where dr = 0
        <if test="ids != null and ids.size()>0">
            and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
    </select>
</mapper>