<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.AreaTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepexi.channel.domain.area.AreaTypeDO">
        <result column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="app_id" property="appId" />
        <result column="dr" property="dr" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="parent_id" property="parentId" />
        <result column="limit_parent" property="limitParent" />
        <result column="area_type_name" property="areaTypeName" />
        <result column="area_type_code" property="areaTypeCode" />
        <result column="area_type_name_en" property="areaTypeNameEn" />
        <result column="description" property="description" />
        <result column="version" property="version" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id,
        app_id,
        dr,
        created_time,
        updated_time,
        created_by,
        updated_by
    </sql>

    <select id="listAreaType" parameterType="com.deepexi.channel.domain.area.AreaTypeQuery"
            resultType="com.deepexi.channel.domain.area.AreaTypePageDO">
        SELECT
        d.area_type_name AS parent_name,
        b.*
        FROM
        (
        SELECT
        a.*
        FROM
        cc_area_type a
        WHERE
        a.dr = 0
        AND a.tenant_id = #{tenantId}
        AND a.app_id = #{appId}
        ) b
        LEFT JOIN (
        SELECT
        c.id,
        c.area_type_name
        FROM
        cc_area_type c
        WHERE
        c.dr = 0
        AND c.tenant_id = #{tenantId}
        AND c.app_id = #{appId}
        ) d ON b.parent_id = d.id
        <if test="areaTypeName!=null">
            AND area_type_name LIKE concat('%',#{areaTypeName},'%')
        </if>
        <if test="areaTypeCode!=null">
            AND area_type_code =#{areaTypeCode}
        </if>
        <if test="updateStartTime!=null">
            AND DATE_FORMAT(a.created_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime!=null">
            AND DATE_FORMAT(a.created_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="startTime!=null">
            AND DATE_FORMAT(a.updated_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{updateStartTime},'%Y-%m-%d')
        </if>
        <if test="updateEndTime!=null">
            AND DATE_FORMAT(a.updated_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{updateEndTime},'%Y-%m-%d')
        </if>
        order by updated_time desc
    </select>

</mapper>
