<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.AreaMapper">
   
    <resultMap type="com.deepexi.channel.domain.area.AreaDO" id="BaseResultMap">
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="path" column="path" />
        <result property="areaTypeId" column="area_type_id" />
        <result property="areaName" column="area_name" />
        <result property="areaCode" column="area_code" />
        <result property="areaNameEn" column="area_name_en" />
        <result property="description" column="description" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
    </resultMap>

    <select id="findList" resultType="com.deepexi.channel.domain.eo.CcArea">
        SELECT * FROM cc_area WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE cc_area set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="listAreaPage" parameterType="com.deepexi.channel.domain.area.AreaQuery"
            resultType="com.deepexi.channel.domain.area.AreaDO">

        SELECT * from cc_area

        WHERE
        dr=0
        <if test="id!=null">
            and id = #{id}
        </if>
        <if test="ids != null">
            and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="areaTypeId!=null">
            AND area_type_id =#{areaTypeId}
        </if>
        <if test="areaName!=null">
            AND area_name LIKE concat('%',#{areaName},'%')
        </if>
        <if test="areaCode!=null">
            AND area_code =#{areaCode}
        </if>
        <if test="updateStartTime!=null">
            AND DATE_FORMAT(a.created_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime!=null">
            AND DATE_FORMAT(a.created_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="startTime!=null">
            AND DATE_FORMAT(a.updated_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{updateStartTime},'%Y-%m-%d')
        </if>
        <if test="updateEndTime!=null">
            AND DATE_FORMAT(a.updated_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{updateEndTime},'%Y-%m-%d')
        </if>
        order by updated_time desc
    </select>

</mapper>