<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.ChainTypeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepexi.channel.domain.chain.ChainTypeDO">
        <result column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="app_id" property="appId" />
        <result column="dr" property="dr" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="update_by" property="updatedBy" />
        <result column="parent_id" property="parentId" />
        <result column="limit_parent" property="limitParent" />
        <result column="chain_type_name" property="chainTypeName" />
        <result column="chain_type_code" property="chainTypeCode" />
        <result column="chain_type_name_en" property="chainTypeNameEn" />
        <result column="description" property="description" />
        <result column="version" property="version" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="listChainTypePage" resultMap="BaseResultMap" parameterType="com.deepexi.channel.domain.chain.ChainTypeQuery">
        SELECT * from cc_chain_type where dr=0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="ids != null">
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="chainTypeCode != null and chainTypeCode != ''">
            and chain_type_code  like concat('%',#{chainTypeCode},'%')
        </if>
        <if test="chainTypeName != null and chainTypeName != ''">
            and chain_type_name like concat('%',#{chainTypeName},'%')
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        <if test="updateStartTime != null">
            and updated_time &gt;= #{updateStartTime}
        </if>
        <if test="updateEndTime != null">
            and updated_time &lt;= #{updateEndTime}
        </if>
        <if test="tenantId!=null">
            AND n.tenant_id = #{tenantId}
        </if>
        <if test="appId!=null">
            AND n.app_id =#{appId}
        </if>
        order by created_time desc
    </select>
</mapper>
