<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.ChainTypeMapper">
    <resultMap type="com.deepexi.channel.domain.chain.ChainTypeDO" id="ChainTypeResult">
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="limitParent" column="limit_parent" />
        <result property="chainTypeName" column="chain_type_name" />
        <result property="chainTypeCode" column="chain_type_code" />
        <result property="chainTypeNameEn" column="chain_type_name_en" />
        <result property="path" column="path" />
        <result property="linkId" column="link_id" />
        <result property="description" column="description" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
    </resultMap>
    <select id="findList" resultType="com.deepexi.channel.domain.chain.ChainTypeDO">
        SELECT * FROM cc_chain_type WHERE  dr=0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="ids != null and ids.size()>0">
          and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="excludeIds != null and excludeIds.size()>0">
            and id not in
            <foreach collection="excludeIds" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="parentId != null or parentId == 0">
            and parent_id = #{parentId}
        </if>
        <if test="chainTypeCode != null and chainTypeCode != ''">
            and chain_type_code  like concat('%',#{chainTypeCode},'%')
        </if>
        <if test="chainTypeAccuracyCode != null and chainTypeAccuracyCode != ''">
            and chain_type_code = #{chainTypeAccuracyCode}
        </if>
        <if test="chainTypeName != null and chainTypeName != ''">
            and chain_type_name like concat('%',#{chainTypeName},'%')
        </if>
        <if test="chainTypeAccuracyName != null and chainTypeAccuracyName != ''">
            and chain_type_name = #{chainTypeAccuracyName}
        </if>
        <if test="path !=null and path != ''" >
            and path like  concat('%',#{path},'%')
        </if>
        <if test="linkId !=null and linkId != '' or linkId == 0">
            and link_id = #{linkId}
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        <if test="updateStartTime != null">
            and updated_time &gt;= #{updateStartTime}
        </if>
        <if test="updateEndTime != null">
            and updated_time &lt;= #{updateEndTime}
        </if>
        <if test="tenantId!=null">
            AND tenant_id = #{tenantId}
        </if>
        <if test="appId!=null">
            AND app_id =#{appId}
        </if>
        order by created_time desc
    </select>

    <update id="deleteByIds">
        UPDATE cc_chain_type set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findParentList"  resultType="com.deepexi.channel.domain.chain.ChainTypeDO">
      SELECT * FROM cc_chain_type WHERE  dr=0
        <if test="ids != null">
            and parent_id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
    </select>

    <select id="listNotLimitedNode" resultType="com.deepexi.channel.domain.chain.ChainTypeDO">
        SELECT
            a.*
        FROM
            cc_chain_type a
        WHERE
            a.dr = 0
        AND a.tenant_id = #{tenantId}
        AND a.app_id = #{appId}
        and a.id not in(
        SELECT
            parent_id
        FROM
            cc_chain_type b
        WHERE
            b.dr = 0
        AND b.tenant_id = #{tenantId}
        AND b.app_id = #{appId}
        AND b.parent_id!=0
        AND b.limit_parent=1
        )
    </select>
</mapper>