<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.ChainMapper">
    <resultMap type="com.deepexi.channel.domain.chain.ChainDO" id="ChainDOResult">
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="chainTypeId" column="chain_type_id" />
        <result property="chainName" column="chain_name" />
        <result property="chainCode" column="chain_code" />
        <result property="chainNameEn" column="chain_name_en" />
        <result property="path" column="path" />
        <result property="description" column="description" />
        <result property="businessLicense" column="business_license" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="appId" column="app_id" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.deepexi.channel.domain.chain.ChainQuery">
        SELECT * FROM cc_chain WHERE dr=0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="ids != null">
            and id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
        <if test="chainCode != null and chainCode != ''">
            and chain_code  like concat('%',#{chainCode},'%')
        </if>
        <if test="chainName != null and chainName != ''">
            and chain_name like concat('%',#{chainName},'%')
        </if>
        <if test="chainTypeId != null and chainTypeId != ''">
            and chain_type_id like concat('%',#{chainTypeId},'%')
        </if>
        <if test="path != null and path != ''">
            and path like concat('%',#{path},'%')
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        <if test="updateStartTime != null">
            and updated_time &gt;= #{updateStartTime}
        </if>
        <if test="updateEndTime != null">
            and updated_time &lt;= #{updateEndTime}
        </if>
        <if test="tenantId!=null">
            AND tenant_id = #{tenantId}
        </if>
        <if test="appId!=null">
            AND app_id =#{appId}
        </if>
        order by created_time desc
    </select>

    <update id="deleteByIds">
        UPDATE cc_chain set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getChainCountByTypeIds" resultType="java.lang.Integer">
        select count(*) from cc_chain where dr=0 and chain_type_id in
        <foreach collection="typeIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="findParentList" resultType="com.deepexi.channel.domain.chain.ChainDO">
        SELECT * FROM cc_type WHERE  dr=0
        <if test="ids != null">
            and parent_id in
            <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
                #{tempId}
            </foreach>
        </if>
    </select>
</mapper>