<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.CouponInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepexi.promotion.domain.coupon.CouponInstanceDO">
    <result column="id" property="id" />
    <result column="tenant_id" property="tenantId" />
    <result column="app_id" property="appId" />
    <result column="template_id" property="templateId" />
    <result column="coupon_code" property="couponCode" />
    <result column="coupon_status" property="couponStatus" />
    <result column="is_deleted" property="deleted" />
    <result column="created_time" property="createdTime" />
    <result column="create_by" property="createBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id,
        app_id,
        is_deleted,
        created_time,
        create_by,
        updated_time,
        updated_by,
        template_id,
        coupon_code,
        coupon_status
    </sql>

</mapper>
