<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.DistributorGradeMapper">

    <resultMap type="com.deepexi.channel.domain.distributor.DistributorGradeDO" id="baseResult">
        <result property="id" column="id" />
        <result property="parentId" column="parent_id" />
        <result property="root" column="root" />
        <result property="distributorGradeName" column="distributor_grade_name" />
        <result property="distributorGradeCode" column="distributor_grade_code" />
        <result property="gradeSystemId" column="grade_system_id" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="description" column="description" />
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="appId" column="app_id" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>

    <select id="findPage" parameterType="com.deepexi.channel.domain.distributor.DistributorGradeQuery"
            resultType="com.deepexi.channel.domain.distributor.DistributorGradeDO">

        SELECT * FROM cc_distributor_grade WHERE dr=0

        <if test="id != null">
            and id = #{id}
        </if>
        <if test="ids != null">
          and id in
        <foreach collection="ids" item="tempId" index="index" open="(" close=")" separator=",">
            #{tempId}
        </foreach>
        </if>

        <if test="distributorGradeName!=null">
            AND distributorGradeName LIKE concat('%',#{distributorGradeName},'%')
        </if>
        <if test="distributorGradeCode!=null">
            AND distributorGradeCode =#{distributorGradeCode}
        </if>
        <if test="updateStartTime!=null">
            AND DATE_FORMAT(created_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{startTime},'%Y-%m-%d')
        </if>
        <if test="endTime!=null">
            AND DATE_FORMAT(created_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{endTime},'%Y-%m-%d')
        </if>
        <if test="startTime!=null">
            AND DATE_FORMAT(updated_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{updateStartTime},'%Y-%m-%d')
        </if>
        <if test="updateEndTime!=null">
            AND DATE_FORMAT(updated_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{updateEndTime},'%Y-%m-%d')
        </if>
        order by updated_time desc
    </select>

</mapper>