<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.promotion.mapper.PromotionCouponStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deepexi.promotion.domain.coupon.CouponStatisticsDO">
    <result column="id" property="id" />
    <result column="tenant_id" property="tenantId" />
    <result column="app_id" property="appId" />
    <result column="is_deleted" property="isDeleted" />
    <result column="created_time" property="createdTime" />
    <result column="create_by" property="createBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="updated_by" property="updatedBy" />
        <result column="template_id" property="templateId" />
        <result column="total_count" property="totalCount" />
        <result column="acvitity_link_count" property="acvitityLinkCount" />
        <result column="accepted_count" property="acceptedCount" />
        <result column="used_count" property="usedCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tenant_id,
        app_id,
        is_deleted,
        created_time,
        create_by,
        updated_time,
        updated_by,
        template_id, total_count, acvitity_link_count, accepted_count, used_count
    </sql>

</mapper>
