<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepexi.channel.mapper.StoreDistributorRelationMapper">
    <resultMap type="com.deepexi.channel.domain.store.StoreDistributorRelationDO" id="StoreDistributorRelationDOResult">
        <result property="id" column="id" />
        <result property="distributorId" column="distributor_id" />
        <result property="gradeSystemId" column="grade_system_id" />
        <result property="storeId" column="store_id" />
        <result property="description" column="description" />
        <result property="version" column="version" />
        <result property="remark" column="remark" />
        <result property="dr" column="dr" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="appId" column="app_id" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>
    <select id="findList" resultType="com.deepexi.channel.domain.store.StoreGradeRelationDO">
        select * from cc_store_distributor_relation where dr = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="distributorId != null">
            and distributor_id = #{distributorId}
        </if>
        <if test="storeId != null">
            and store_id = #{storeId}
        </if>
    </select>

    <select id="findParentDistributorByStoreId" resultType="com.deepexi.channel.domain.store.StoreDistributorDO">
        SELECT s.distributor_id,s.grade_system_id,g.parent_id
        FROM cc_distributor_grade_relation AS g,
        cc_store_distributor_relation AS s
        WHERE g.distributor_id = s.distributor_id
        AND  s.grade_system_id = g.system_id
        AND s.dr	= 0 AND g.dr = 0
        AND store_id = #{storeId}
    </select>
</mapper>